{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PS Store API</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
  </head>
  <body>
    <section class="header">
      <divc class="title-wrapper">
        <h1 class="sweet-title">
          <span data-text="PS">PS</span>
          <span data-text="Store">Store</span>
          <span data-text="API">API</span>
        </h1>
        <span class="top-title">Django RESTful API</span>
        <span class="bottom-title"><a href='/admin/'>Admin Panel</a>  |  <a href='/store/'>Store Endpoints</a></span>
        </div>
    </section>
    <section class="disclaimer">
      <span>Made by <a href="https://www.github.com/Parviz-S">Parviz Subkhankulov</a></span>
    </section>
  </body>
</html>
